body{
  margin:0px;
  padding: 0px;
  
  background-color: #eeeded !important;
  font-family: 'Montserrat', sans-serif !important;
}
*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  width:100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
  height: 80px;
}
nav ul{
  display: flex;
}

nav li{
  padding-top: 11px ;
}

.btnNavbar {
  height:40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px !important;
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color:#000000 !important;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

.btnNavbar:hover{
  background-color: #1d7bc3;
  color:#000000 !important;
  transition: all ease 0.2s;
}

.navbar{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  height: 90px !important;
}

.logo img{
  height: 50px;
}

.logoLogin{
  height: 100px;
}

nav .menu-btn,
.menu-icon{
  display:none;
}

/* Add this to your existing CSS or create a new CSS file */

.card {
  min-width: 18rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-subtitle {
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #495057;
}

.card-button {
  margin-top: 1rem;
  background-color: #1d7bc3;
}

.search-button {
  background-color: #1d7bc3;
}

.search-input{
  padding: 8px;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  margin-right: 15px;
}

.search-box{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  height: 92px;
}

.cardCanditaturas{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.statusBoxSucesso{
  background-color: rgb(92, 255, 47);
  border-radius: 10px;
  max-width: 90px;
}

.statusBoxAndamento{
  background-color: rgb(47, 92, 255);
  border-radius: 10px;
  max-width: 150px;
}

.statusBoxAguardando{
  background-color: rgb(255, 245, 47);
  border-radius: 10px;
  max-width: 140px;
}

.statusBoxText{
  padding: 5px;
}


.statusBoxSucesso{
  background-color: rgb(92, 255, 47);
  border-radius: 10px;
  max-width: 90px;
}

.statusBoxAndamento{
  background-color: rgb(47, 92, 255);
  border-radius: 10px;
  max-width: 150px;
}

.statusBoxAguardando{
  background-color: rgb(255, 245, 47);
  border-radius: 10px;
  max-width: 140px;
}

.statusBoxText{
  padding: 5px;
}


.dicasimg img{
  height: 500px;
  margin-top: 50px;
  padding-bottom: 10px;
}

.introdicas {
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn-dicas{
  margin-left: auto;
  margin-right: auto
}

.downloadcv{
  text-align: center;
}

.introducao{
  text-align: left; 
  max-width: 500px;
  padding-top: 40px;
}

.textintr{
  font-size: 20px;
}