body{
  margin:0px;
  padding: 0px;
  
  background-color: #f9f7f7 !important;
  font-family: 'Montserrat', sans-serif !important;
}
*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  width:100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
  height: 80px;
}
nav ul{
  display: flex;
}

nav li{
  padding-top: 11px ;
}

.btnNavbar {
  height:40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px !important;
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color:#000000 !important;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

.btnNavbar:hover{
  background-color: #1d7bc3;
  color:#000000 !important;
  transition: all ease 0.2s;
}

.navbar{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  height: 90px !important;
}

.logo img{
  height: 50px;
}

.logoLogin{
  height: 100px;
}

nav .menu-btn,
.menu-icon{
  display:none;
}

/* Add this to your existing CSS or create a new CSS file */

.card {
  min-width: 22rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-subtitle {
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #495057;
}

.card-button {
  margin-top: 1rem;
  background-color: #1d7bc3 !important;
}

.search-button {
  background-color: #1d7bc3 !important;
  height: 38px;
}

.search-input{
  padding: 8px;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  margin-right: 15px;
}

.search-box{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  height: 88px;
}

.cardCanditaturas{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.statusBoxSucesso{
  background-color: rgb(92, 255, 47);
  border-radius: 10px;
  max-width: 90px;
}

.statusBoxAndamento{
  background-color: rgb(47, 92, 255);
  border-radius: 10px;
  max-width: 150px;
}

.statusBoxAguardando{
  background-color: rgb(255, 245, 47);
  border-radius: 10px;
  max-width: 140px;
}

.statusBoxText{
  padding: 5px;
}


.statusBoxSucesso{
  background-color: rgb(92, 255, 47);
  border-radius: 10px;
  max-width: 90px;
}

.statusBoxAndamento{
  background-color: rgb(47, 92, 255);
  border-radius: 10px;
  max-width: 150px;
}

.statusBoxAguardando{
  background-color: rgb(255, 245, 47);
  border-radius: 10px;
  max-width: 140px;
}

.statusBoxText{
  padding: 5px;
}


.dicasimg img{
  height: 500px;
  margin-top: 50px;
  padding-bottom: 20px;
  
  
  
}

.introdicas {
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn-dicas{
  margin-left: auto;
  margin-right: auto;
  background-color: #1d7bc3;
}

.downloadcv{
  text-align: center;
  
}

.introducao{
  text-align: left; 
  max-width: 500px;
  padding-top: 40px;
}

.textintr{
  font-size: 20px;
}

#text-mentoria {
  text-align: center;
  font-size: 45px;
  margin-top: 40px;
}

.header-mentoria {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#subtitle-mentoria {
  display: flex;
  justify-content: center;
  width: 145px;
  height: 30px;
  background-color: #FF6666;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.conteudo-mentoria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planos {
  text-align: center;
  border: 3px solid #CDCDCD;
  height: 290px;
  width: 466px;
  margin-right: 40px;
  border-radius: 12px;
}

.planos h2 {
  color: black;
  font-size: 38px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}

.planos label {
  color: gray;
  font-size: 20px;
}

.planos p {
  font-size: 20px;
  margin-top: 25px;
}

.compre-agora {
  color: black;
  background-color: #6070FF;
  width: 290px;
  height: 80px;
  border-radius: 12px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: .2s;
}

.compre-agora:hover {
  color: black;
}

#compre-agora2 {
  background-color: #FF6666;
}

.container-plano {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.container-plano button {
  margin-top: 40px;
  cursor: pointer;
}

.descricao {
  margin-bottom: 28px;
  margin-left: -10px;
  width: 420px;
  text-align: justify;
}

#descOne {
  margin-top: 70px;
}

.optionCurso{
  margin-right: 10px;
  width: 100%;
}